<head>
  <meta charset="utf-8">

  <meta name="viewport" width="device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description }}">
  <meta name="dc.title" content="Analog Drives- {{ page.title }}"/>

  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

  <link rel="shortcut icon" href="/images/favicon.gif" type="image/gif" />
  <link rel="icon" href="/images/favicon.gif" type="image/gif" />
  <link rel="start" href="http://www.analogdrives.com" title="Analog Drives"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/mobile.css" media="handheld, only screen and (max-device-width: 960px)" />

  <link href="/stylesheets/screen.css" media="screen" rel="Stylesheet" title="paperplanes" type="text/css" />

  <title>Analog Drives</title>

  <!-- google analytics - i will not share this data with google -->
  {% include analytics.html %}
</head>
