<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

  {% include head.html %}

  <body id="www-fiveweeksabroad-com">
    <div id="head">
      <div id="header-content">
        <div id="about">
          <h1 class="default"><a href="{{ site.url }}">Five Weeks Abroad</a></h1>
          <h1 class="mobile"><a href="{{ site.url }}">Five Weeks Abroad</a></h1>
          <p style="color: white" class="about-sub-title default">
            A Travel Journal
          </p>
        </div>
      </div>
    </div>

    <div id="box">
      <div id="content">
        {{ content }}
      </div>
    </div>
    <script id="dsq-count-scr" src="//fiveweeksabroad.disqus.com/count.js" async></script>
  </body>

 <!--  <script src="//my.hellobar.com/7db1d1ae6111ae95568efbbf8e6a1ee953ad854f.js" type="text/javascript" charset="utf-8" async="async"></script> -->
</html>
